.vue-flow__nodes {
  z-index: -1;
}

.vue-flow__node.selected::after {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #3182ce;
  z-index: 10;
}

.vue-flow__node {
  border-radius: 12px;
}
